/* Hintergrundfarbe der gesamten Seite */
body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    height: 90vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-top: 80px;
    margin-bottom: 48px;
    text-align: center;
    color: white;
}

/* Container für die Tabelle */
#content {
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

/* Tabelle */
#content table {
    border-collapse: collapse;
}

#content td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    border: 5px solid white;
    /* Dicke der Trennlinien */
    border-color: white;
    cursor: pointer;
}

#content td:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Entfernt den äußeren Rand der Tabelle */
#content table {
    border-spacing: 0;
    /* Kein zusätzlicher Abstand zwischen den Zellen */
}

#content tr:first-child td {
    border-top: none;
    /* Keine obere Linie */
}

#content tr:last-child td {
    border-bottom: none;
    /* Keine untere Linie */
}

#content td:first-child {
    border-left: none;
    /* Keine linke Linie */
}

#content td:last-child {
    border-right: none;
    /* Keine rechte Linie */
}

.winning-line {
    position: absolute;
    height: 5px;
    background-color: white;
    z-index: 10;
    transform-origin: left center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #FFC000;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
    /* Abstand vom unteren Rand */
}

button:hover {
    background-color: #FFB300;
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}